.tri-1:hover {
    fill: yellow;
}
.tri-2:hover {
    fill: yellow;
}
.tri-3:hover {
    fill: yellow;
}
.completed_act {
    fill: yellow;
}
.completed_act:hover {
    fill: orange;
}
/* make svg text non-responsive */
svg text {
    fill: white;
    pointer-events: none;
}

.profile:hover {
    font-size: 200%;
}

/* new navbar styles */


body {
    margin: 0;
}


/* global color */
:root {
    --background: rgba(100, 250, 100, 75);
}

/* reset box-sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    margin: 0;
    padding: 0;
    /* use if navbar doesnt fit correctly: */
    top: 0;
    left: 0;

}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    /* text-transform: uppercase; <-- don't like this */
    opacity: 0;
    transition: opacity 150ms ease-in-out; /* no delay for link fade */
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms; /* <-- delay */
}

/* don't display checkbox */
.nav-toggle {
    display: none;
}

/* position drop-down links */
.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: ''; /* required to make elements appear. (default = none) */
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.qwerty {
    /* need to fix content under navbar */
}

/* change screen size if needed */
@media screen and (min-width: 1200px) {
    .nav-toggle-label {
        display: none;
    }
    /* make header a grid */
    header {
        display: grid;
        grid-template-columns: .75fr auto minmax(600px, 2.25fr) .75fr;
    }

    .logo {
        grid-column: 2 / 3; /* place logo in header grid */
    }

    nav {
        all: unset;
        grid-column: 3 / 4; /* holds our <ul> elements */
        /* center nav elements within grid using flexbox */
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex; /* make <li> elements appear side-by-side rather than vertically using flex */
    }

    nav li {
        /* turn off bottom margin of <li> elements and space them with left margin */
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        /* restore <a> elements' opacity */
        opacity: 1;
        position: relative;
    }

    /* hover effect */
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        position: absolute;
        background: black;
        border-radius: 4px;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}
