/* new home page design/layout */

/* project styles */

/* vertically-center page if its contents don't span 100vh */
html,
body {
    width: 100%;
    height: 100%;
}
html {
    display: table;
}
/*
body {
    display: table-cell;
    vertical-align: middle;
}
*/
/* end vertically-center page stuff */

:root {
    --background: rgba(100, 250, 100, 75);
    /* font variables */
    --font-2xl: 36px;

    /* new 3 color scheme */
    --color-blue: #05406D;
    --color-tan: #F5A52D;
    --color-green: #4ABB49;

    --color-midnight-blue: #043052;

    --color-white: white;
    --color-black: black;

}

html, button {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Playfair Display', serif;
}

body {
    margin: 0;
    padding-top: 85.5px; /* header height = 80px (depends on logo size)*/
    /* background-color: rgba(25, 225, 85, .7);  page bg color */
    /*background-color: var(--color-2);*/
    /* this is a gradient of the three color variables (3)
    background-image: linear-gradient(to top, #3d3d3f, #495461, #476f81, #3d8d97, #43aa9f, #5fbaa3, #7ccaa6, #9adaaa, #afe3bb, #c4eccc, #d9f5de, #edfef0);
    */
    /*background-image: linear-gradient(to bottom, #f5fff7, #badcbe, #83b984, #4e964a, #067302);*/
    background-image: url('/static/kokoro_app/tan-wave.svg'); /* getwaves.io, used --color-chemist-paleyellow */
    background-size: cover;
    background-position: 0px -60px;
    background-color: var(--color-blue); /* color behind svg hill/wave */
}
/* reset box-sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

/* global font sizes */
.font-small {
    font-size: 14px;
}

.font-med {
    font-size: 15px;
}

.font-large {
    font-size: 18px;
}

.font-xl {
    font-size: 21px;
}

/* end project styles */

/*
===============
===== NAV =====
===============
*/
header {
    background: var(--color-blue);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    margin: 0;
    padding: 0;
    /* use if navbar doesnt fit correctly: */
    top: 0;
    left: 0;

}

.logo {
    color: var(--color-green);
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    background: var(--color-blue);
    border-bottom: 2px solid var(--color-white);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1rem;
    /* text-transform: uppercase; <-- don't like this */
    opacity: 0;
    transition: opacity 150ms ease-in-out; /* no delay for link fade */
}

nav a:hover {
    color: var(--color-green);
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms; /* <-- delay */
}

/* don't display checkbox */
.nav-toggle {
    display: none;
}

/* position drop-down links */
.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
    background: var(--color-green);
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: ''; /* required to make elements appear. (default = none) */
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.nav-search {
    border: 1px solid var(--color-white);
    border-right: 0px;
    border-radius: 12px 0px 0px 12px;
    padding: .3em .75em;
    padding-right: 0;
    background: var(--color-blue);
    color: var(--color-white);
    width: 75%;
}

.nav-search::placeholder {
    color: lightgray;
}

.nav-search:focus {
    outline: none;
    vertical-align: bottom;
    border-color: var(--color-green);
}

.nav-search:focus::placeholder {
    color: var(--color-blue);
}

.nav-search + button[type=submit] {
    border: 1px solid var(--color-white);
    border-left: 0px;
    border-radius: 0px 12px 12px 0px;
    padding: .29em 1em;
    transition: .5s;
    vertical-align: bottom;
}

.nav-search + button[type=submit]:hover {
    background-color: var(--color-green);
    border-color: var(--color-green);
    color: var(--color-white);
    transition: .5s;
}

/* change screen size if needed */
@media screen and (min-width: 1200px) {
    .nav-toggle-label {
        display: none;
    }
    /* make header a grid */
    header {
        display: grid;
        grid-template-columns: .75fr auto minmax(600px, 2.25fr) .5fr;
    }

    .logo {
        grid-column: 1 / 2; /* place logo in header grid */
    }

    nav {
        all: unset; /* maybe don't use this */
        grid-column: 2 / 4; /* holds our <ul> elements */
        /* center nav elements within grid using flexbox */
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        margin-top: 20px;
        display: flex; /* make <li> elements appear side-by-side rather than vertically using flex */
    }

    nav li {
        /* turn off bottom margin of <li> elements and space them with left margin */
        margin-right: 3vw;
        margin-bottom: 0;
    }

    nav a {
        /* restore <a> elements' opacity */
        opacity: 1;
        position: relative;
    }

    /* hover effect */
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        position: absolute;
        background: var(--color-green);
        border-radius: 4px;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

/* testing notification dropdown in nav */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1000;
    min-width: 20rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content button {
    display: block;
    color: var(--color-white);
    padding: 12px 16px;
    font-size: 14px;
    border: 1px solid var(--color-white);
}

.dropdown-content button:hover {
    border: 4px solid var(--color-white);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-btn {
    /* style button like other <li> in nav */
    border: none;
    padding: 0;
    outline: none;
    font-size: 16px;
    background: none;
    color: var(--color-white);
    font-family: 'Playfair Display', serif;
}

.dropdown-btn:hover {
    color: var(--color-green);
}

.dropdown-btn::before {
    content: '';
    display: block;
    height: 5px;
    position: absolute;
    background: var(--color-green);
    border-radius: 4px;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

.dropdown-btn:hover::before {
    transform: scale(1, 1);
}

.drop-noti {
    cursor: pointer;
    user-select: none;
    border: none;
    width: 100%;
    background-color: var(--color-blue);
}

.drop-noti-read {
    background-color: rgba(5, 64, 109, .8);
}


.drop-noti::before {
    content: none !important;
}
/* end navbar styles */

/*
======================
===== home.html ======
======================
*/

.home-grid-master {
    display: block;
    margin-top: 2px;
}

.separator {
    background-color: var(--color-midnight-blue);
    padding-top: .05em;
    border-top: 1px solid var(--color-midnight-blue);
    border-bottom: 1px solid var(--color-midnight-blue);
}

.separator-balance {
    width: 90%;
    background-color: var(--color-black);;
    padding-top: 0em; /* makes disappear */
    margin: 0 auto;
}

.balance-banner-true, .balance-banner-false {
    display: block;
    margin: 0 auto;
    width: 95%;
    padding: 1em .05em;
    text-align: center;
    user-select: none;
    color: lightgray;
    background-color: var(--color-blue);
}

.balance-banner-div {
    border-bottom: 1px solid var(--color-midnight-blue);
    padding: .5em;
}

.balance-banner-div > .act-type {
    margin: 0;
    padding-left: .5rem;
    color: var(--color-green);
    user-select: none;
}

.balance-banner-div > .act-description {
    display: block;
    margin: 0;
    padding-left: .5rem;
    user-select: none;
    color: var(--color-white);
}

.balance-message-container {
    text-align: center;
    padding: .5rem;
    background-color: var(--color-blue);
    color: var(--color-white);
}

.balance-message-container > span {
    display: block;
    padding: 1em;
    user-select: none;
}

.separator-thin {
    padding: .025rem;
    background-color: var(--color-white);
    width: 80%;
    margin: 0 auto;
}

.balance-streak {
    user-select: none;
}

.help-icon-container {
    text-align: right;
    padding: 1rem;
}

.help-icon-container > h6 {
    font-size: 1em;
    margin: 0;
    cursor: pointer;
    user-select: none;
    color: var(--color-tan);
}

/* home.html svg */
.svg-container {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.svg-container::before {
    /* this is the pseudo-element representing the shadow */
    content: "";
    position: absolute;
    background: var(--color-tan);

    top: 65%;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    /* give perspective to shadow */
    transform: perspective(2rem) rotateX(20deg) scale(1, .2);
    filter: blur(3em) brightness(0.75);
    pointer-events: none;
    z-index: -1;
}

.text-1, .text-2, .text-3 {
    fill: var(--color-black);;
    transition: 1s;
    font-size: 20px;
}

.tri-main {
    stroke-width: 0px;
    stroke: var(--color-black);;
    fill: #4ABB49;
}

.tri-1 {
    stroke: var(--color-black);;
    fill: var(--color-green);
    fill-opacity: 0;
    stroke-width: 1px;
}

.tri-2 {
    fill: var(--color-green);
    fill-opacity: 0;
    stroke: var(--color-black);;
    stroke-width: 1px;
}

.tri-3 {
    fill: var(--color-green);
    fill-opacity: 0;
    stroke: var(--color-black);;
    stroke-width: 1px;
}

.tri-1:hover {
    fill-opacity: 1;
}
.tri-1:hover + .text-1 {
    opacity: 100%;
    transition: 1.5s;
}

.tri-2:hover {
    fill-opacity: 1;
}
.tri-2:hover + .text-2 {
    opacity: 100%;
    transition: 1.5s;
}

.tri-3:hover {
    fill-opacity: 1;
}
.tri-3:hover + .text-3 {
    opacity: 100%;
    transition: 1.5s;
}

.tri {
    transition: .7s;
}
.completed_act {
    fill-opacity: 1;
}

/* make svg text non-responsive */
svg text {
    opacity: 0; /* text only shows on hover/focus */
    stroke: none;
    fill: var(--color-white);
    pointer-events: none;
}

/* end home.html svg */

/* home.html Daily Activity Form */

.activity-form-container {
    display: block;
}

.activity-select {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 90%; /* flexbox overrides width property. have to define width here too */
    margin: 5em auto 0 auto;
    border: 1px solid var(--color-black);;
    border-radius: 4px 4px 0 0;
    background:; /* this fixes white-space */
}

.activity-radio {
    position: absolute;
    visibility: hidden;
    display: none;
}

.activity-label {
    flex-grow: 1;
    text-align: center;
    color: var(--color-black);;
    background: rgba(255, 255, 255, 0);
    padding: 10px 10px 10px 10px;
    font-size: 18px; /*  make label text responsive [] */
    cursor: pointer;
    user-select: none;
    transition: 1s;
}

.activated {
    background: var(--color-green);
    border-bottom: 1px solid var(--color-green);
}

.activated-submit {
    border-bottom: 1px solid var(--color-green);
}

.mind-label {
    border-radius: 4px 0px 0px 0px;
    background:;
}

.body-label {
    background:;
}

.soul-label {
    border-radius: 0px 4px 0px 0px;
}

.activity-label:hover {
    background: rgba(74, 187, 73, 1); !important; /* this makes hover work even after selection */
    transition: 1s;
}

.activity-label + .activity-radio + .activity-label {
    border-left: solid 1px var(--color-black);;
}

.activity-label option {
    /* remove default padding for option text */
    padding: 0px;
    margin: 0;
}

.activity-submit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid contains text input + submit button */
    margin: 0 auto 1rem auto;
    width: 90%;
    /* closing transition */
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 500ms ease-in-out 10ms;
    border: 1px solid var(--color-black);;
    border-top: 4px solid var(--color-green);
    border-radius: 0 0 4px 4px;
    background-color: ;
}

.activity-submit input {
    grid-column: 1 / 3;
    border: 0;
    border-top: 1px solid var(--color-green);
    border-radius: 0px 0px 0px 4px;
    background: rgba(255, 255, 255, .15);
    padding: 10px 10px 10px 10px;
    padding-left: 15px; /* gives placeholder text padding */
    font-size: 16px;
    outline: none;
}

.activity-submit input:focus {
    background: rgba(255, 255, 255, 0);
}

.activity-submit button {
    grid-column: 3 / 4;
    color: var(--color-black);;
    /* remove default border */
    border: none;
    border-radius: 0px 0px 4px 0px;
    border-left: 1px solid var(--color-black);;
    border-top: 1px solid var(--color-green);
    background-color: rgba(255, 255, 255, 0);
    color: var(--color-black);;
    font-size: 17px;
    padding: 0;
}

.activity-submit button:hover {
    background-color: var(--color-green);
    transition: .7s;
}

.activity-submit.collapse {
    /* transition for un-collapsing activity-submit */
    transform: scale(1, 1);
    transform-origin: top;
    transition: transform 500ms ease-in-out 10ms;
}
/* end home.html Daily Activity Form */

/* Daily Activities (text above activity-form) */
.daily-activities > h3 {
    margin: 0 12vw 0 12vw;
    font-size: 14px;
    text-align: center;
}
/* end Daily Activities */

/* form-container stuff */
.form-container {
    display: none;
    /* javascript changes display value on button click */
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.75);
    z-index: 999;
}

.show-form {
    /* class is added to form-containers on svg click */
    display: flex;
}

.form-container form {
    height: 75%;
    width: 90%;
    max-width: 700px;
    border-radius: 8px;
    margin-top: 2em;
}

.form-container form label {
    color: var(--color-white);
    display: flow-root; /* change context */
    padding-top: 1em;
    font-size: 1.25vw;
}

.form-container input[type=text] {
    width: 100%;
    padding: 15px 0px;
    margin: 0;
    line-height: 1.5vw;
    font-size: 1.25vw;
}

.form-container input[type=email] {
    width: 100%;
    padding: 15px 0px;
    margin: 0;
    line-height: 1.5vw;
    font-size: 1.25vw;
}

/* help icon */
.help-form > span {
    display: block;
}

.help-form {
    overflow-y: scroll;
}

.help-header {
    color: var(--color-green);
}

.help-content {
    color: var(--color-white);
}

.help-type {
    color: var(--color-tan);
}

.help-warning {
    color: var(--color-tan);
    display: block;
    text-align: center;
    padding-top: 2em;
}
/* end form-container stuff */

/*
=====================================
===== manage-form for home.html =====
=====================================
*/

.view-all-activities {
    text-align: center;
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-blue);
}

.view-acts {
    display: block;
    padding: 1em;
}

.manage-form {
    background-color: var(--color-midnight-blue);
    padding: 1em 1.5em;
    border: 1px solid var(--color-blue);
}

.manage-form-header {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: .5rem;
    color: var(--color-white);
}

.manage-form-scroll {
    overflow: auto;
    width: 100%;
    height: 75%;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-top: 1rem;
    background-color: var(--color-blue);
}

.manage-form-scroll > div {
    /* container for each activity in form */
    border-bottom: 1px solid lightgray;
    padding: .25rem .5rem .5rem .5rem;
}

.manage-form-scroll > div > .manage-act-type {
    margin: 0;
    color: var(--color-green);
    display: inline-block;
    user-select: none;
}

.manage-form-scroll > div > input[type=checkbox] {
    margin: 0;
}

.manage-form-scroll > div > .manage-act-desc {
    margin: 0;
    display: block;
    color: var(--color-white);
    padding-left: 1rem;
    user-select: none;
}

.manage-form-submit {
    display: block;
    width: 100%;
    margin-top: 1em;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    padding: 1em 0em;
    background-color: var(--color-green);
    color: var(--color-midnight-blue);
    font-weight: bold;
}
/* end manage-form on home.html */

/* 'X' symbol for closing form */
.close-form {
    align-self: flex-end;
    width: 3rem;
    height: 3rem;
    background: var(--color-white);
    border-radius: 4px;
    margin: .5em .5em .5em .5em;
    cursor: pointer;
}

.close-form div {
    /* for the 'x' close symbol */
    width: 3rem;
    height: 3rem;
    line-height: 2.75rem; /* match div height to vertically center */
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}
/* end close-form */

/*
========================
===== profile.html =====
========================
*/

.profile-grid-master {
    display: grid;
    grid-template-rows: repeat(auto, 2fr);
    padding: 1rem .75rem;
    background: var(--color-blue);
}

.profile-grid-header {
    /* place in grid-master */
    grid-row: 1 / 2;

    /* define own grid properties */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2%;

    margin-top: -3rem;
}

.profile-image {
    grid-row: 1 / 3;
    width: 100%;
    background-size: cover;

    /* make image square */
    float:left;
    position: relative;
    padding-bottom : 100%; /* = width for a 1:1 aspect ratio */
    overflow: hidden;
}

.profile-image > img {
    width: 100%;
    margin: auto;
    border-radius: 8px;
    background-color: var(--color-white);
    vertical-align: bottom;
    /*background-color: green;*/ /* change to page bg-color if whitespace showing */

    /* make image square */
    position: absolute;
    height: 100%;
    object-fit: cover;
}

.profile-quote-container {
    grid-column: 2 / 5;
    grid-row: 1 / 3;
    align-items: center;
    /* position: absolute;*/
    position: relative;
    overflow: auto;
    height: 100%;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    background: var(--color-midnight-blue);
}

.profile-quote-content {
    /* we can use 'clamp()' to set a min, desired, and max font size! */
    justify-self: center;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: auto;
    padding: .8rem .75rem 0 .75rem;
    position: absolute;
    background: var(--color-midnight-blue);
    color: var(--color-white);
}

.profile-quote-author {
    width: 100%;
    text-align: center;
    display: block;
    color: var(--color-green);
    margin: .5rem 0 .5rem 0;
}

.profile-name-grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin-top: 1vh;
}

.profile-display-name {
    grid-row: 1 / 2;
    font-weight: bold;
    word-break: break-word;
    color: var(--color-green);
}

.profile-username {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    color: var(--color-white);
}

.edit-profile-form {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 100%;
    align-self: end;
    justify-self: end;
    margin-right: .5rem;
}

.edit-profile-or-friendship-btn {
    /* needs fixing for visiting profiles */
    border: 1px solid var(--color-white);
    border-radius: 16px;
    align-self: end;
    justify-self: end;
    padding: .25em 1em;
    font-family: 'Playfair Display', serif;
    float: right;
    color: var(--color-white);
    background-color: var(--color-blue);
    cursor: pointer;
}

.profile-biography {
    /* not in a sub-grid */
    margin-top: .5rem;
    width: 95%;
    color: var(--color-white);
}

.perfect-balance-header {
    margin-top: 1rem;
    margin-bottom: .25rem;
    /*text-decoration: underline;*/
    color: var(--color-green);
}

.perfect-mind {
    color: var(--color-white);
}

.perfect-body {
    color: var(--color-white);
}

.perfect-soul {
    color: var(--color-white);
}

.profile-contact {
    margin-top: .5rem;
    font-size: 15px;
    color: var(--color-tan);
}

.write-post-btn {
    margin: .5rem 0;
}

.write-post-btn-submit, .friendship-btn-submit {
    padding: .25em 1em;
    border: 1px solid var(--color-white);
    border-radius: 16px;
    background-color: var(--color-blue);
    color: var(--color-white);
    transition: .5s;
}

.profile-post-label {
    margin: 1rem .5em 0 auto;
    display: inline-block;
    width: fit-content;
    border: 1px solid var(--color-white);
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    padding: .125rem 1rem;
    color: var(--color-white);
}

.profile-post-prefix {
    width: 100%;
    padding: .05rem;
    background: var(--color-white);
}

.profile-post-container {
    height: 40vh;
    position: relative;
    overflow: auto;
    border: 1px solid var(--color-white);
    background: var(--color-midnight-blue);
}

.profile-post button {
    /* fit button to div (can style more later) */
    width: 100%;
    height: 100%;
    background: var(--color-midnight-blue);
    padding: 0;
    border: 0;
    cursor: pointer;
}

.profile-pinned-message {
    display: block;
    text-align: right;
    font-family: 'Playfair Display', serif;
    color: var(--color-tan);
    padding: .5rem 1rem 0 1rem;
}

.profile-post-headline {
    display: block;
    text-align: left;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    padding: 1.5rem 3% 0 3%;
    color: var(--color-white);
}

.profile-post-headline-pinned {
    padding-top: 0;
}

.profile-post-author {
    display: block;
    text-align: left;
    font-family: 'Playfair Display', serif;
    color: var(--color-green);
    padding: .75rem 0 .5rem 3%;
}

.post-date {
    display: block;
    font-family: 'Playfair Display', serif;
    text-align: right;
    padding-right: 3%;
    color: var(--color-white);
}

.post-separator {
    background: lightgray;
    margin: 0 auto;
    padding: .05rem;
    width: 95%;
}

.cover-placeholder {
    padding: 3rem;
    background: var(--color-midnight-blue);
    text-align: center;
    width: 100%;
}

/*
=============================
===== edit_profile.html =====
============================
*/

.edit-profile-form-container {
    padding: 0 1rem;
}

.perfect-label-edit {
    display: block;
}

.profile-image-edit {
    /* will take size of form */
    width: 10%;
}

.profile-image-edit > img {
    width: 100%;
}

.edit-post-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 6em;
}

.edit-post-container span {
    display: block;
}
/* things to hide on mobile */
.desktop-home-header {
    display: none;
}

.activity-card-container {
    display: none;
}

/*
=======================
===== search.html =====
=======================
*/
.super-container {
    width: 100%;
    height: 100%;
    background: var(--color-blue);
}

.search-header {
    display: block;
    color: var(--color-white);
    margin-bottom: 1rem;
}

.search-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 2rem;
}

.search-card {
    display: grid;
    grid-template-columns: 75px 4fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: .5rem;
    border-radius: 8px;
    margin-bottom: .5rem;
    background-color: var(--color-midnight-blue);
    padding: .5rem;
}

.search-card span {
    display: block;
}

.search-image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.search-image > img {
    /* make image square */
    float: left;
    width:  75px;
    height: 75px;
    object-fit: cover;
    border-radius: 4px;
}

.search-info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.search-display-name {
    color: var(--color-green);
}

.search-username {
    color: var(--color-tan);
}

.search-bio {
    grid-column: 2 / 4;
    color: var(--color-white);
}

.search-profile {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin-left: auto;
}

.search-profile-btn {
    font-size: 14px !important;
}
/* end search.html */

/*
=================================
===== view_friendships.html =====
=================================
*/

.request-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    background-color: red;
    margin: 0 auto;
    padding: 1em;
    width: 60%;
}

.request-grid span {
    color: white;
}

.sent-request-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: 1px solid white;
}

.received-request-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 1px solid white;
}

.sent-request {
    display: grid;
    border: 1px solid white;
}

.received-request {
    display: grid;
    grid-template-columns: 75px .25fr .25fr .25fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: .5em;
    justify-items: start;
    border-radius: 8px;
    margin-bottom: .5rem;
    background-color: var(--color-midnight-blue);
    border: 1px solid white;
    padding: .5rem;
}

.request-image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.request-image > img {
    /* make image square */
    float: left;
    width:  75px;
    height: 75px;
    object-fit: cover;
    border-radius: 4px;
}

.request-message {
    display: block;
    grid-column: 2 / 5;
    grid-row: 1 / 2;
}

.accept-request-form {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 12px !important;
}

.decline-request-form {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.profile-request-form {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.request-btn {
    color: var(--color-white);
    background-color: var(--color-blue);
    border: 1px solid var(--color-white);
    border-radius: 16px;
    padding: .25em 1em;
    cursor: pointer;
    transition: .5s;
}

.request-btn:hover {
    background-color: var(--color-green);
    border-color: var(--color-green);
    transition: .5s;
}

.decline-request-form > button:hover {
    background-color: var(--color-tan);
    border-color: var(--color-tan);
    color: var(--color-black);
    transition: .5s;
}

/* end view_friendships.html */

/*
==========================
===== media queries  =====
==========================
*/

@media screen and (min-width: 1000px) {
    /* remove elements from page */
    /* turn on when necessary */
    .separator,
    .balance-banner-container,
    .balance-message-container,
    .help-icon-container,
    .view-all-activities {

        display: none;

    }

    body {
        /* give spacing below shadow effect on svg */
        margin-bottom: 10em;
        background-position: 0px 0px;
    }

    /* activate grid */
    .home-grid-master {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        align-items: end;
        justify-items: center;
        margin: 0 7.5vw 10em 7.5vw;
    }

    /* place elements in grid */
    .activity-form-container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 60%;
        padding: 0;
        margin: 0;
        padding-top: auto;
        position: relative;
    }

    .activity-select, .activity-submit {
        width: 100%;
        margin: 0;
    }

    .svg-container {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 60%;
        align-self: start;
    }

    svg {
        vertical-align: bottom;
    }

    .svg-container::before {
        transform: perspective(6rem) rotateX(20deg) scale(1, .2);
    }

    .svg-container > div::before {
        content: "";
        position: absolute;
        top: 65%;
        left: -175%;
        width: 120%;
        height: 100%;
        margin: 0 auto;

        background: #F5A52D;
        transform: perspective(6rem) rotateX(20deg) scale(1, .15);
        filter: blur(6em) brightness(0.75);
        pointer-events: none;
        z-index: -1;

        display: block;
    }

    .activity-card-container {
        /* activities above activity-form */
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        position: relative;
        align-self: start;
        width: 60%;
        height: 55%;
        margin-top: 10%;
        margin-bottom: 10%;
        border: 1px solid var(--color-black);;
        border-radius: 4px;
        padding: 0 .5rem;

        display: flex;
        flex-direction: column;

        /* rgba for white */
        /*background: rgba(255, 255, 255, .75);*/

        /* new green */
        /*background: rgba(74, 187, 73, .75);*/

        background: rgba(0, 0, 0, .4);

    }

    .activity-card-container-inner {
        height: 22vh;
        overflow-y: auto;
        color: var(--color-white);
    }

    .instructions-header {
        text-align: center;
        display: block;
        padding: .5em 0 .5em 0;
    }

    .daily-acts-header {
        display: block;
        padding: .5em 0 .5em 0;
        text-align: center;
        color: var(--color-white);
    }

    .daily-acts-header ~ .separator-thin {
        background-color: var(--color-white);
    }

    .instructions-header {
        margin: auto;
    }

    .instructions-header span {
        display: block;
        padding: 1.5em 0;
        color: var(--color-white);
    }

    .instructions-header .separator-thin {
        background-color: var(--color-white);
    }

    .activity-card-content {
        padding: .5em 0 .5em .5em;
        opacity: 0;
        transition: opacity .7s ease-in-out;
    }

    .activity-card-content.text-fade {
        opacity: 1;
    }

    .activity-card-content > .act-type-desktop {
        display: block;
        color: var(--color-green);
    }

    .activity-card-content .act-description {
        display: block;
    }

    .separator-gray {
        width: 100%;
        background-color: var(--color-white);
        padding: .025em;
    }

    .desktop-home-header {
        display: block;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        width: 110%;
        margin-top: 2em;
        margin-bottom: 3em;
        color: var(--color-white);
    }

    .desktop-home-header .separator-thin {
        margin: .5em auto;
        background-color: var(--color-white);
    }

    .balance-message-container-desktop {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .balance-message-container-desktop .balance-message {
        display: block;
        text-align: center;
    }

    .balance-streak-container {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .help-and-manage-container-outer {
        display: inline-block;
        position: absolute;
        right: 12.75%;
    }

    .view-acts-desktop, .help-icon-container-desktop {
        font-weight: 500;
        cursor: pointer;
        padding: .25em 1.25em;
        border: 1px solid var(--color-white);
        border-radius: 15px;
        background-color: var(--color-blue);
        color: var(--color-white);
        transition: 1s;
    }

    .view-acts-desktop:hover, .help-icon-container-desktop:hover {
        background-color: var(--color-green);
        border: 1px solid var(--color-green);
        transition: .7s;
    }

    .manage-act-desc {
        font-size: 18px;
    }

    .manage-act-type {
        font-size: 16px;
    }

    /*
    ================================
    ===== profile.html desktop =====
    ================================
    */

    .profile-wrapper {
        margin: 0 auto;
        margin-top: 2em;
        border: 1px solid var(--color-white);
        min-width: 500px;
        max-width: 50vw;
        background: var(--color-blue);
    }

    .cover-placeholder {
        padding: 4rem;
        border-bottom: 1px solid var(--color-black);;
        background: var(--color-blue);
    }

    .profile-display-name {
        /* turn all fonts into variables */
        font-size: var(--font-2xl);
    }

    .profile-username {
        font-size: 18px;
    }

    .profile-quote-container {
        height: 100%;
        border: 1px solid var(--color-white);
    }

    .profile-quote-content {
        font-size: 24px;
        padding-top: 2em;
    }

    .profile-quote-author {
        font-size: 18px;
        padding-top: 1em;
    }

    .edit-profile-or-friendship-btn {
        font-size: 16px;
        cursor: pointer;
        border: 1px solid var(--color-white);
        border-radius: 16px;
        color: var(--color-white);
        background-color: var(--color-blue);
        transition: .5s;
    }

    .edit-profile-or-friendship-btn:hover {
        background-color: var(--color-green);
        border-color: var(--color-green);
        transition: .5s;
    }

    .profile-biography {
        font-size: 20px;
        margin-top: 1em;
    }

    .perfect-balance-header {
        font-weight: 600;
        margin-top: 1.5em;
    }

    .profile-contact span {
        font-size: 18px;
        color: var(--color-tan);
    }

    .friendship-btn-submit, .write-post-btn-submit {
        font-size: 16px;
        border: 1px solid var(--color-white);
        border-radius: 16px;
        background-color: var(--color-blue);
        color: var(--color-white);
        transition: .5s;
    }

    .friendship-btn-submit:hover, .write-post-btn-submit:hover {
        background-color: var(--color-green);
        border-color: var(--color-green);
        transition: .5s;
    }

    .profile-post-label {
        font-size: 18px;
        padding: .25em 1.5em;
        border: 1px solid var(--color-white);
        border-bottom: none;
        color: var(--color-white);
    }

    .profile-post-headline {
        font-size: 26px;
        padding-top: 2em;
    }

    .profile-post-author {
        font-size: 18px;
        padding-bottom: 1em;
    }

    .post-date {
        font-size: 18px;
    }

    .profile-pinned-message {
        position: absolute;
        width: 98%;
        font-size: 16px;
        padding-top: 1em;
    }
    /* end profile.html desktop */

    /* custom scrollbar styles */
    ::-webkit-scrollbar {
        width: .25em;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-green);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background:rgb(54, 56, 58);
    }
}