/* new home page design/layout */

/* project styles */
/* global color */
:root {
    --background: rgba(100, 250, 100, 75);
}

html {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Playfair Display', serif;
}

body {
    margin: 0;
    padding-top: 85.5px; /* header height = 80px (depends on logo size)*/
    /* background-color: rgba(25, 225, 85, .7);  page bg color */
    background-color: white;
}
/* reset box-sizing */
*, *::before, *::after {
    box-sizing: border-box;
}
/* end project styles */

/*
===============
===== NAV =====
===============
*/
header {
    /*background: var(--background);*/
    background: #ccc;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    margin: 0;
    padding: 0;
    /* use if navbar doesnt fit correctly: */
    top: 0;
    left: 0;

}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    /*background: var(--background);*/
    background: #ccc;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    /* text-transform: uppercase; <-- don't like this */
    opacity: 0;
    transition: opacity 150ms ease-in-out; /* no delay for link fade */
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms; /* <-- delay */
}

/* don't display checkbox */
.nav-toggle {
    display: none;
}

/* position drop-down links */
.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: ''; /* required to make elements appear. (default = none) */
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

/* change screen size if needed */
@media screen and (min-width: 1200px) {
    .nav-toggle-label {
        display: none;
    }
    /* make header a grid */
    header {
        display: grid;
        grid-template-columns: .75fr auto minmax(600px, 2.25fr) .75fr;
    }

    .logo {
        grid-column: 1 / 2; /* place logo in header grid */
    }

    nav {
        all: unset; /* maybe don't use this */
        grid-column: 2 / 4; /* holds our <ul> elements */
        /* center nav elements within grid using flexbox */
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex; /* make <li> elements appear side-by-side rather than vertically using flex */
    }

    nav li {
        /* turn off bottom margin of <li> elements and space them with left margin */
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        /* restore <a> elements' opacity */
        opacity: 1;
        position: relative;
    }

    /* hover effect */
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        position: absolute;
        background: black;
        border-radius: 4px;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

/* testing notification dropdown in nav */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1000;
    min-width: 20rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content button {
    display: block;
    color: black;
    padding: 12px 16px;
    font-size: 14px;
}

.dropdown-content button:hover {
    background-color: #ccc;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-btn {
    /* style button like other <li> in nav */
    border: none;
    font-size: 1rem;
    background-color: #ccc;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.dropdown-btn:hover {
    background-color: #bbb;
}

.drop-noti {
    cursor: pointer;
    user-select: none;
    border: none;
    width: 100%;
    background-color: #ddd;
}

.drop-noti-read {
    background-color: #eee;
}


.drop-noti::before {
    content: none !important;
}
/* end navbar styles */

/*
======================
===== home.html ======
======================
*/

.separator {
    background-color: lightgray;
    padding-top: .25rem;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.balance-banner-true {
    margin: 1rem;
    text-align: center;
    user-select: none;
}

.balance-banner-false {
    text-align: center;
    user-select: none;
}

.balance-banner-div {
    border-bottom: 1px solid gray; padding: .5rem;
}

.balance-banner-div > h6 {
    margin: 0;
    padding-left: .5rem;
    color: lightgray;
    user-select: none;
}

.balance-banner-div > h5 {
    margin: 0;
    padding-left: .5rem;
    user-select: none;
}

.balance-message-container {
    text-align: center;
    padding: .5rem;
}

.balance-message-container > h4 {
    margin: .75rem auto;
    user-select: none;
}

.separator-thin {
    padding: .025rem;
    background-color: black;
    width: 80%;
    margin: 0 auto;
}

.balance-streak {
    margin: .75rem auto;
    user-select: none;
}

/* home.html svg */
.svg-container {
    width: 50%;
    margin: 0 auto;
}

.tri-1:hover {
    fill: gray;
}
.tri-1:hover + .text-1 {
    opacity: 100%;
    transition: 1.5s;
}

.tri-2:hover {
    fill: gray;
}
.tri-2:hover + .text-2 {
    opacity: 100%;
    transition: 1.5s;
}

.tri-3:hover {
    fill: gray;
}
.tri-3:hover + .text-3 {
    opacity: 100%;
    transition: 1.5s;
}

.tri {
    transition: .7s;
}
.completed_act {
    fill: gray;
}
.completed_act:hover {
    fill: #ffe;
}
/* make svg text non-responsive */
svg text {
    opacity: 0; /* text only shows on hover/focus */
    stroke: black;
    fill: black;
    pointer-events: none;
}

/* end home.html svg */

/* home.html Daily Activity Form */

.activity-select {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 90%; /* flexbox overrides width property. have to define width here too */
    margin: 5rem auto 0 auto;
}

.activity-radio {
    position: absolute;
    visibility: hidden;
    display: none;
}

.activity-label {
    flex-grow: 1;*/ /* all items same size */
    flex-basis: space-evenly;
    text-align: center;
    color: black;
    background: #eee;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 16px; /*  make label text responsive [] */
    cursor: pointer;
    user-select: none;
}

.mind-label {
    border-radius: 4px 0px 0px 0px;
}

.soul-label {
    border-radius: 0px 4px 0px 0px;
}

.activity-label:hover {
    background-color: gray !important; /* this makes hover work even after selection */
    transition: .5s;
}

.activity-label + .activity-radio + .activity-label {
    border-left: solid 1px gray;
}

.activity-label option {
    /* remove default padding for option text */
    padding: 0px;
}

.activity-submit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid contains text input + submit button */
    margin: 0 auto 1rem auto;
    width: 90%;
    /* closing transition */
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 500ms ease-in-out 10ms;
    border: none;
    border-top: 4px solid gray;
    /*border-radius: 4px;*/
}

.activity-submit input {
    grid-column: 1 / 3;
    /*height: 3em;*/ /* don't use height */
    /*border: 4px solid black;*/
    border: 0;
    border-radius: 0px 0px 0px 4px;
    /*background-color: var(--background);*/
    background-color: #eee;
    padding: 10px 10px 10px 10px;
    padding-left: 15px; /* gives placeholder text padding */
    font-size: 14px;
    outline: none;
}

.activity-submit button {
    grid-column: 3 / 4;
    color: black;
    /*border: 4px solid black;*/
    border: none;
    border-radius: 0px 0px 4px 0px;
    border-top: 0;
    background-color: #eee;
    font-size: 14px;
    padding: 0;
}

.activity-submit button:hover {
    background-color: lightgreen;
    transition: .7s;
}

.activity-submit.collapse {
    /* transition for un-collapsing activity-submit */
    transform: scale(1, 1);
    transform-origin: top;
    transition: transform 500ms ease-in-out 10ms;
}
/* end home.html Daily Activity Form */

/* Daily Activities (text above activity-form) */
.daily-activities > h3 {
    margin: 0 12vw 0 12vw;
    font-size: 14px;
    text-align: center;
}
/* end Daily Activities */

/* form-container stuff */
.form-container {
    display: none;
    /* javascript changes display value on button click */
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    z-index: 999;
}

.show-form {
    /* class is added to form-containers on svg click */
    display: flex;
}

.form-container form {
    height: 55%;
    width: 85%;
    border-radius: 4px;
}

.form-container form label {
    color: white;
    display: flow-root; /* change context */
    padding-top: 1em;
    font-size: 1.25vw;
}

.form-container input[type=text] {
    width: 100%;
    padding: 15px 0px;
    margin: 0;
    line-height: 1.5vw;
    font-size: 1.25vw;
}

.form-container input[type=email] {
    width: 100%;
    padding: 15px 0px;
    margin: 0;
    line-height: 1.5vw;
    font-size: 1.25vw;
}

.form-container input[type=submit] {
    width: 100%;
    padding: 17.5px 30px;
    background: lightgreen;
}
/* end form-container stuff */

/*
=====================================
===== manage-form for home.html =====
=====================================
*/

.view-all-activities {
    text-align: center;
}

.view-all-activities > h5 {
    cursor: pointer;
}

.manage-form {
    background-color: white;
    padding: 1.5rem;
    border: 2px solid gray;
}

.manage-form-header {
    text-align: center;
    margin-top: 0;
    margin-bottom: .5rem;
}

.manage-form-scroll {
    overflow: auto;
    width: 100%;
    height: 75%;
    border: 1px solid gray;
    margin-top: 1rem;
}

.manage-form-scroll > div {
    border-bottom: 3px solid gray;
    padding: .25rem .5rem .5rem .5rem;
}

.manage-form-scroll > div > h6 {
    margin: 0;
    color: lightgray;
    display: inline-block;
}

.manage-form-scroll > div > input[type=checkbox],
.manage-form-scroll > div > h5 {
    margin: 0;
}

.manage-form > input[type=submit] {
    margin-top: 5%;
    border: none;
    border-radius: 2px;
}
/* end manage-form on home.html */

/* 'X' symbol for closing form */
.close-form {
    align-self: flex-end;
    width: 3rem;
    height: 3rem;
    background: white;
    border-radius: 4px;
    margin: .5em .5em .5em .5em;
    cursor: pointer;
}

.close-form div {
    /* for the 'x' close symbol */
    width: 3rem;
    height: 3rem;
    line-height: 2.75rem; /* match div height to vertically center */
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}
/* end close-form */

/*
========================
===== profile.html =====
========================
*/

.profile-grid-master {
    display: grid;
    grid-template-rows: repeat(auto, 2fr);
    padding: 1rem .75rem;
}

.profile-grid-header {
    /* place in grid-master */
    grid-row: 1 / 2;

    /* define own grid properties */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(auto-fit, auto);*/
    /*grid-auto-rows: max-content;*/
    grid-column-gap: 1%;
/**/
}

.profile-image {
    grid-row: 1 / 3;
    width: 100%;
}

.profile-image > img {
    width: 100%;
    margin: auto;
    border-radius: 8px;
    vertical-align: bottom;
}

.profile-quote-container {
    grid-column: 2 / 5;
    grid-row: 1 / 3;
    /* position: absolute;*/
    position: relative;
    overflow: auto;
    height: 100%;
}

.profile-quote-content {
    /* we can use 'clamp()' to set a min, desired, and max font size! */
    font-size: 15px;
    font-weight: bold;
    margin: auto;
    padding: 0 1rem 0 1rem;
    position: absolute;
}

.profile-quote-author {
    font-size: clamp(.9rem, 2.5vw, 3em);
    text-align: center;
    display: block;
    color: gray;
}

.profile-name-grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.profile-display-name {
    grid-row: 1 / 2;
    font-size: clamp(1.5rem, 2.5rem, 5vw);
    font-weight: bold;
    width: 50%;
    word-break: break-word;

}

.profile-username {
    grid-row: 2 / 3;
    font-size: clamp(.9rem, 2.5rem, 3vw);
    color: gray;
}

.edit-profile-form {
    grid-row: 1 / 3;
    width: 80%;
    align-self: center;
    justify-self: end;
    margin-right: .5rem;
}

.edit-profile-or-friendship-btn {
    /* needs fixing for visiting profiles */
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    align-self: end;
    justify-self: end;
    padding: .25em;
    font-family: 'Playfair Display', serif;
}

.profile-biography {
    /* not in a sub-grid */
    margin-top: .5rem;
    font-size: clamp(1rem, 2.5rem, 4vw);
    width: 75%;
}

.profile-perfect-balance {
    margin-top: .75rem;
    font-size: clamp(.9rem, 2.25rem, 3.5vw);
}

.perfect-mind {
    color: lightblue;
}

.perfect-body {
    color: orange;
}

.perfect-soul {
    color: lightgreen;
}

.profile-contact {
    margin-top: .5rem;
    font-size: clamp(.9rem, 2rem, 3vw);
}

.write-post-btn {
    margin: .5rem 0;
}

.profile-post-header {
    padding: .125rem;
    background: lightgray;
    text-align: center;
    border: 1px solid gray;
    border-radius: 4px 4px 0 0;
}

.profile-post {
}

.profile-post button {
    /* fit button to div (can style more later) */
    width: 100%;
    height: 100%;
    background: white;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.profile-pinned-message {
    display: block;
    text-align: right;
    font-family: 'Playfair Display', serif;
    color: lightgray;
    font-size: clamp(.9rem, 2rem, 2.5vw);
    padding: .5rem 1rem 0 1rem;
}

.profile-post-headline {
    display: block;
    text-align: left;
    font-size: clamp(1.25rem, 2.75rem, 4vw);
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    padding: 1.5rem 3% 0 3%;
}

.profile-post-headline-pinned {
    padding-top: 0;
}

.profile-post-author {
    display: block;
    text-align: left;
    font-family: 'Playfair Display', serif;
    color: gray;
    padding: .75rem 0 .5rem 3%;
    font-size: clamp(.9rem, 2.5rem, 3vw);
}

.post-date {
    display: block;
    font-family: 'Playfair Display', serif;
    text-align: right;
    padding-right: 3%;
    font-size: clamp(.9rem, 2vw, 3vw);
}

.post-separator {
    background: lightgray;
    margin: 0 auto;
    padding: .05rem;
    width: 95%;
}

/*
=============================
===== edit_profile.html =====
============================
*/

.edit-profile-form-container {
    padding: 0 1rem;
}