{% extends 'kokoro_app/base.html' %}

{% block content %}
<!--
<form method="post" action="{% url 'users:register' %}">
    {% csrf_token %}
    {{ register_form.as_p }}

    <button name="submit">Register</button>
    <input type="hidden" name="next" value="{% url 'kokoro_app:home' %}" />
</form>
-->
<div class="super-container">
    <div class="register-container">
        <span class="register-header">Register</span>
        <form action="{% url 'users:register' %}" method="post" autocomplete="off">
            {% csrf_token %}
            <span class="register-label font-xl">{{ register_form.username.label }}</span>
            <span class="register-field">{{ register_form.username }}</span>
            <span class="register-help">{{ register_form.username.help_text }}</span>
            <span class="register-error">{{ register_form.username.errors }}</span>
            <br>
            <br>
            <span class="register-label font-xl">{{ register_form.password1.label }}</span>
            <span class="register-field">{{ register_form.password1 }}</span>
            <span class="register-help">{{ register_form.password1.help_text }}</span>
            <span class="register-error">{{ register_form.password1.errors }}</span>
            <br>
            <br>
            <span class="register-label font-xl">{{ register_form.password2.label }}</span>
            <span class="register-field">{{ register_form.password2 }}</span>
            <span class="register-help">{{ register_form.password2.help_text }}</span>
            <span class="register-error">{{ register_form.password2.errors }}</span>
            <br>
            <button class="request-btn register-btn font-xl" name="submit">Register</button>
        </form>
    </div>
</div>
{% endblock content %}