<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>kokoro</title>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="\static\kokoro_app\styles.css">

</head>
<body>
  <!--new navbar-->
  <header>
    <h1 class="logo">kokoro</h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
          <li><a href="{% url 'kokoro_app:home' %}">kokoro</a></li>
        {% if user.is_authenticated %}
          <span>Hello, {{ user.username }}.</span>
          <li><a href="{% url 'kokoro_app:profile' %}">Profile</a></li>
          <li><a href="{% url 'users:logout' %}">Log Out</a></li>
          <li><a href="#">Home</a></li>
        {% else %}
          <li><a href="{% url 'users:register' %}">Register</a></li>
          <li><a href="{% url 'users:login' %}">Log In</a></li>
        {% endif %}
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span>X</span>
    </label>
  </header>
{% block content %}{% endblock content %}
</body>
</html>