<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>kokoro</title>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="\static\kokoro_app\styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@501&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <!--new navbar-->
  <header>
    <h1 class="logo">kokoro</h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>

        {% if user.is_authenticated %}
          <li><a>Hello, {{ request.user.username }}.</a></li>
          <!--place notification dropdown here-->
          <li class="dropdown">
              <button class="dropdown-btn">Notifications</button>
              <div class="dropdown-content">
                {% for notification in notifications %}
                  {% if notification.unread == True %}
                  <!-- notification is unread -->
                  <form action="{% url 'notifications:notification_form_handler' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="drop-noti" name="notification_form" value="{{ notification.id }}">{{ notification.message }}</button>
                  </form>
                  {% else %}
                  <!-- notification is not unread -->
                    <form action="{% url 'notifications:notification_form_handler' %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="drop-noti drop-noti-read" name="notification_form" value="{{ notification.id }}">{{ notification.message }}</button>
                    </form>
                  {% endif %}
                {% empty %}
                    <button class="drop-noti">No Notifications</button>
                {% endfor %}
                {% if notifications %}
                  <form action="{% url 'notifications:notification_form_handler' %}" method="post">
                    {% csrf_token %}
                    <button class="drop-noti drop-noti-read" name="mark_all_form">Mark All As Seen</button>
                  </form>
                  <form action="{% url 'notifications:notification_form_handler' %}" method="post">
                    {% csrf_token %}
                    <button class="drop-noti drop-noti-read" name="clear_all_form">Clear All</button>
                  </form>
                {% endif %}
              </div>
          </li>
          <li><a href="{% url 'kokoro_app:home' %}">Home</a></li>
          <li><a href="{% url 'kokoro_app:profile' %}">Profile</a></li>
          <li><a href="{% url 'users:logout' %}">Log Out</a></li>
          <!--search bar-->
          <li>
            <form action="{% url 'kokoro_app:search' %}" method="get" autocomplete="off">
              <input class="nav-search font-med" type="text" name="search" placeholder="Search users"><button type="submit"><i class="fa fa-search search-icon"></i></button>
            </form>
          </li>
          <li><button class="theme-btn request-btn font-med" onclick="setThemePreference()">Change Theme</button></li>
        {% else %}
          <li><a href="{% url 'kokoro_app:home' %}">Home</a></li>
          <li><a href="{% url 'users:register' %}">Register</a></li>
          <li><a href="{% url 'users:login' %}">Log In</a></li>
          <li><button class="theme-btn request-btn font-med" onclick="setThemePreference()">Change Theme</button></li>
        {% endif %}
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
  </header>
{% block content %}{% endblock content %}

<script>
// get root element
var root = document.querySelector(':root');
var rootStyles = getComputedStyle(root);

// we should also get <body>'s background-image
var body = document.querySelector('body');
var backgroundImage = body.style.backgroundImage;

// activity-card uses opacity, so we'll handle that separately
var activityCard = document.getElementsByClassName("activity-card-container")[0];

// set color variable values
// *** .getPropertyValue == '#05406D' only works if there is no space between color variable and its value (CSS) ***
// *** adding a space between --color-x and its value (CSS) requires putting a space before the hex in JS >>> ('--color-1') == ' #05406D'

function toggleLightTheme() {

    root.style.setProperty('--color-1', '#FAF8FF');
    root.style.setProperty('--color-2', '#FDFFFD');
    root.style.setProperty('--color-3', '#008500');
    root.style.setProperty('--color-4', '#005000');
    root.style.setProperty('--color-5', '#003000');
    root.style.setProperty('--color-6', 'black');
    root.style.setProperty('--color-7', '#003000');
    root.style.setProperty('--color-8', '#49BB49');
    root.style.setProperty('--color-9', '#49BB49');
    root.style.setProperty('--color-10', '#96FFA1');
    root.style.setProperty('--color-11', '#9A5A00');
    root.style.setProperty('--color-svg-shadow', '#A2FF98');

    body.style.setProperty('background-image', 'var(--svg-green-wave)');

    if (activityCard) {
        activityCard.style.background = 'rgba(255, 255, 255, .4)';
    }
}

function toggleDarkTheme() {

    root.style.setProperty('--color-1', '#05406D');
    root.style.setProperty('--color-2', '#043052');
    root.style.setProperty('--color-3', '#49BB49');
    root.style.setProperty('--color-4', '#F5A52D');
    root.style.setProperty('--color-5', 'white');
    root.style.setProperty('--color-6', 'black');
    root.style.setProperty('--color-7', 'lightgray');
    root.style.setProperty('--color-8', '#043052');
    root.style.setProperty('--color-9', '#FFFFFF');
    root.style.setProperty('--color-10', '#05406D');
    root.style.setProperty('--color-11', '#F5A52D');
    root.style.setProperty('--color-svg-shadow', '#F5A52D');

    body.style.setProperty('background-image', 'var(--svg-tan-wave)');

    if (activityCard) {
        activityCard.style.background = 'rgba(0, 0, 0, .4)';
    }
}

function setThemePreference() {
    // this function should first set localStorage themePreference, then call the appropriate toggle____Theme function
    if (localStorage.getItem("themePreference") === 'light' || localStorage.getItem("themePreference") == null) {

        localStorage.setItem("themePreference", "dark");
        toggleDarkTheme();
    }
    else {
        localStorage.setItem("themePreference", "light");
        toggleLightTheme();
    }
}

// called before page load to determine if dark theme should be applied
function applyThemePreference() {
    if (localStorage.getItem("themePreference") === 'dark') {
        toggleDarkTheme();
    }
}

applyThemePreference();
</script>
</body>
</html>