<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>kokoro</title>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="\static\kokoro_app\styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!--<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">-->
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
  <!-- for search icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <!--new navbar-->
  <header>
    <h1 class="logo">kokoro</h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>

        {% if user.is_authenticated %}
          <li><a>Hello, {{ request.user.username }}.</a></li>
          <!--place notification dropdown here-->
          <li class="dropdown">
              <button class="dropdown-btn">Notifications</button>
              <div class="dropdown-content">
                {% for notification in notifications %}
                  {% if notification.unread == True %}
                  <!-- notification is unread -->
                  <form action="{% url 'notifications:notification_form_handler' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="drop-noti" name="notification_form" value="{{ notification.id }}">{{ notification.message }}</button>
                  </form>
                  {% else %}
                  <!-- notification is not unread -->
                    <form action="{% url 'notifications:notification_form_handler' %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="drop-noti drop-noti-read" name="notification_form" value="{{ notification.id }}">{{ notification.message }}</button>
                    </form>
                  {% endif %}
                {% empty %}
                    <button class="drop-noti">No Notifications</button>
                {% endfor %}
                {% if notifications %}
                  <form action="{% url 'notifications:notification_form_handler' %}" method="post">
                    {% csrf_token %}
                    <button class="drop-noti" name="mark_all_form">Mark All As Seen</button>
                  </form>
                  <form action="{% url 'notifications:notification_form_handler' %}" method="post">
                    {% csrf_token %}
                    <button class="drop-noti" name="clear_all_form">Clear All</button>
                  </form>
                {% endif %}
              </div>
          </li>
          <li><a href="{% url 'kokoro_app:home' %}">Home</a></li>
          <li><a href="{% url 'kokoro_app:profile' %}">Profile</a></li>
          <li><a href="{% url 'users:logout' %}">Log Out</a></li>
          <!--search bar-->
          <li>
            <form action="{% url 'kokoro_app:search' %}" method="get" autocomplete="off">
              <input class="nav-search font-small" type="text" name="search" placeholder="Search users"><button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </li>
          <li><button class="theme-btn request-btn" onclick="setRootStyles()">Change Theme</button></li>
        {% else %}
          <li><a href="{% url 'kokoro_app:home' %}">Home</a></li>
          <li><a href="{% url 'users:register' %}">Register</a></li>
          <li><a href="{% url 'users:login' %}">Log In</a></li>
        {% endif %}
      </ul>

    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
  </header>
{% block content %}{% endblock content %}

<script>
// #05406D is --color-1

// get root element
var root = document.querySelector(':root');
var rootStyles = getComputedStyle(root);

// we should also get <body>'s background-image
var body = document.querySelector('body');
var backgroundImage = body.style.backgroundImage;

// set color variable values
// *** .getPropertyValue == '#05406D' only works if there is no space between color variable and its value (CSS) ***
// *** adding a space between --color-x and its value requires to put a space before the hex in JS >>> ('--color-1') == ' #05406D'

function setRootStyles() {
    if ( rootStyles.getPropertyValue('--color-1') == '#05406D' || rootStyles.getPropertyValue('--color-1') == '' ) {

        root.style.setProperty('--color-1', '#FAF8FF'); //off-white
        root.style.setProperty('--color-2', '#A1E6A1'); //super-light-green (testing light gray)
        root.style.setProperty('--color-3', '#2CA52C'); //dark-green
        root.style.setProperty('--color-4', '#158615'); //super-dark-green
        root.style.setProperty('--color-5', '#005000'); //even-darker-green
        root.style.setProperty('--color-6', '003000'); //darkest-green
        //problem, we aren't using the original green anymore

        // green wave color: #49BB49
        body.style.setProperty('background-image', 'var(--svg-green-wave)');
    }
    else {
        // return colors to original
        root.style.setProperty('--color-1', '#05406D');
        root.style.setProperty('--color-2', '#043052');
        root.style.setProperty('--color-3', '#49BB49');
        root.style.setProperty('--color-4', '#F5A52D');
        root.style.setProperty('--color-5', 'white');
        root.style.setProperty('--color-6', 'black');



        body.style.setProperty('background-image', 'var(--svg-tan-wave)');
    }
}
</script>

</body>
</html>