{% extends 'kokoro_app/base.html' %}

{% block content %}
<!-- add placeholders to forms -->

<span>{{ message }}</span>
<div class="edit-profile-form-container">
    <span class="edit-header-large">Edit Your Profile</span>
    <br>
    <span class="edit-header">Profile Image</span>
    <form action="{% url 'kokoro_app:profile_form_handler' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="profile-image-edit">
            <img src="{{ profile_image_placeholder.image.url }}">
        </div>
        {{ profile_image_form.as_p }}
        <input type="submit" name="profile_image_form" value="Update Profile Photo">
    </form>

    <span class="edit-header">Display Name</span>
    <form action="{% url 'kokoro_app:profile_form_handler' %}" method="post">
        {% csrf_token %}
        <span>{{ display_name_form.display_name }}</span>
        <input type="submit" name="display_name_form" value="Update Display Name">
    </form>

    <span class="edit-header">Profile Quote</span>
    <form action="{% url 'kokoro_app:profile_form_handler' %}" method="post">
        {% csrf_token %}
        <span>Quote:</span>
        <span>{{ quote_form.quote }}</span>
        <span>Author:</span>
        <span>{{ quote_form.quote_author }}</span>
        <input type="submit" name="quote_form" value="Update Quote">
    </form>

    <span class="edit-header">Biography</span>
    <form action="{% url 'kokoro_app:profile_form_handler' %}" method="post">
        {% csrf_token %}
        <span>{{ bio_form.biography }}</span>
        <input type="submit" name="bio_form" value="Submit Biography">
    </form>

    <span class="edit-header">Perfect Balance</span>
    <form action="{% url 'kokoro_app:profile_form_handler' %}" method="post">
        {% csrf_token %}
        <label class="perfect-label-edit">Perfect Mind Activity<span>{{ perfect_form.perfect_mind }}</span></label>
        <label class="perfect-label-edit">Perfect Body Activity<span>{{ perfect_form.perfect_body }}</span></label>
        <label class="perfect-label-edit">Perfect Soul Activity<span>{{ perfect_form.perfect_soul }}</span></label>
        <input type="submit" name="perfect_form" value="Submit Perfect Balance">
    </form>

    <span class="edit-header">Time Zone</span>
    <span>Your current time zone setting: {{ user_timezone_object }}</span>
    <form action="{% url 'kokoro_app:profile_form_handler' %}" method="POST">
        {% csrf_token %}
        <select name="user_timezone">
            <option disabled selected value="">Select Timezone</option>
            {% for tz in timezones %}
            <option value="{{ tz }}">{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="tz_form" value="Set Timezone">
    </form>

    <!-- contact info not included. Still deciding -->
    <!-- cover photo doesn't exist yet -->
    <!-- editing posts doesn't exist yet -->
</div>

{% endblock content %}
