{% extends 'kokoro_app/base.html' %}

{% block content %}

<h3>Your Activities</h3>
<ul>
    {% for act in activities %}
      <li>{{ act }}</li>
    {% empty %}
      <li>No activities added yet.</li>
    {% endfor %}
</ul>
<h3>Balance feature:</h3>
<h2>{{ daily_mind.0 }}</h2>

<form action="{% url 'kokoro_app:home' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="Submit">Add Activity</button>
</form>
<h3>Here are your mind activites submitted today:</h3>
{{ daily_mind }}
{% endblock content %}