{% extends 'kokoro_app/base.html' %}

{% block content %}

<!--mobile-first-->
<!-- Instructions for Daily Activities -->

<!-- create master grid of sub-grids -->
<div class="home-grid-master">
    <!-- mobile -->
    <div class="separator"></div>
    <div class="balance-banner-container">
        {% if balance_bool == 'True' %}
        <span class="balance-banner-true font-large">- Your Daily Balance -</span>
        <div class="separator"></div>
        <!-- recreate two-line item -->
        <div class="balance-banner-div">
            <span class="act-type font-small">MIND</span>
            <span class="act-description font-small">{{ all_daily.daily_mind.0.description }}</span>
        </div>
        <div class="balance-banner-div">
            <span class="act-type font-small">BODY</span>
            <span class="act-description font-small">{{ all_daily.daily_body.0.description }}</span>
        </div>
        <div class="balance-banner-div" style="border-bottom: 0;">
            <span class="act-type font-small">SOUL</span>
            <span class="act-description font-small">{{ all_daily.daily_soul.0.description }}</span>
        </div>
        <div class="separator"></div>
        {% else %}
        <span class="balance-banner-false font-small">Find balance by completing a Mind, Body, and Soul activity.</span>
        <div class="separator"></div>
        {% endif %}
    </div>
    <!-- end Instructions / mobile -->
    <!-- desktop (show activities) -->
    <div class="desktop-home-header">
        <div class="balance-message-container-desktop">
        {% if balance_bool == 'True' %}
            <span class="balance-message font-xl">
                You have found balance today.
            </span>
        {% elif balance_bool == 'False' %}
            <span class="balance-message font-xl">
                Still finding balance...
            </span>
        {% endif %}
        </div>
        <div class="separator-thin"></div>
        <div class="balance-streak-container">
            <span class="balance-streak font-large">
                Current Balance Streak: {{ balance_streak }} days
            </span>
        </div>
        <div class="help-and-manage-container-outer">
            <div class="help-and-manage-container-inner">
                <button class="view-acts-desktop font-med" data-form="manage-form-container" onclick="toggleFormDisplay(this)">Manage Activities</button>
                <button class="help-icon-container-desktop font-med" data-form="help-form-container" onclick="toggleFormDisplay(this)">Help</button>
            </div>
        </div>
    </div>
    <div class="activity-card-container">
        {% if not all_daily.daily_mind and not all_daily.daily_body and not all_daily.daily_soul %}
            <div class="instructions-header">
                <div class="separator-thin"></div>
                <span class="font-large">Find balance by completing a Mind, Body, and Soul activity.</span>
                <div class="separator-thin"></div>
            </div>
        <div class="activity-card-container-inner" style="position: absolute;"></div>
        {% else %}
        <div>
            <span class="daily-acts-header font-xl">Daily Activities</span>
            <div class="separator-thin"></div>
        </div>
        <div class="activity-card-container-inner">
            {% for act in all_daily.daily_mind %}
                <div class="activity-card-content">
                    <span class="act-type-desktop font-small">MIND</span>
                    <span class="act-description font-large">{{ act.description }}</span>
                </div>
                <div class="separator-gray"></div>
            {% endfor %}
            {% for act in all_daily.daily_body %}
                <div class="activity-card-content">
                    <span class="act-type-desktop font-small">BODY</span>
                    <span class="act-description font-large">{{ act.description }}</span>
                </div>
                <div class="separator-gray"></div>
            {% endfor %}
            {% for act in all_daily.daily_soul %}
                <div class="activity-card-content">
                    <span class="act-type-desktop font-small">SOUL</span>
                    <span class="act-description font-large">{{ act.description }}</span>
                </div>
                <div class="separator-gray"></div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <!-- help icon -->
    <div class="help-icon-container" data-form="help-form-container" onclick="toggleFormDisplay(this)" style="text-align: right; padding: 1rem;"><h6 style="font-size: 1rem; margin: 0; cursor: pointer; user-select: none;">?</h6></div>
    <!-- end help icon -->

    <!-- svg -->
    <div class="svg-container">
        <div style="width: 100;"></div> <!-- div for extra pseudo element -->
        <svg id="svg" viewBox="0 0 300 301">
            <rect x="0" y="0" height="301" width="300" stroke="none" stroke-width="0" fill="none"></rect>

            <!-- testing glow/shadow effect -->
            <!-- should probably do the effect on the large polygon triangle, try first -->

            <polygon class="tri-main" fill="gray" stroke="none" points="0,300 300,300 150,40.1925"></polygon>

            <!--make smaller triangles overlay-->
            <polygon class="tri tri-1" fill="white" stroke="black" stroke-width=".2" points="75,170.01 225,170.01 150,40.1925"></polygon>
            <text x="130" y="135" class="text-1">Mind</text>

            <polygon class="tri tri-2" fill="white" stroke="black" stroke-width=".2" points="0,300 150,300 75,170.01"></polygon>
            <text x="54" y="265" class="text-2">Body</text>

            <polygon class="tri tri-3" fill="white" stroke="black" stroke-width=".2" points="150,300 300,300 225,170.01"></polygon>
            <text x="209" y="265" class="text-3">Soul</text>
        </svg>
    </div>
    <!-- end svg -->
    <!-- Daily Activity Form -->
    <div class="activity-form-container">
        <form action="{% url 'kokoro_app:home' %}" method="post">
            {% csrf_token %}
            <div class="activity-select"> <!--flexbox-->
                <input class="activity-radio" type="radio" name="activity" value="mind" required="" id="id_activity_1">
                <label class="activity-label mind-label" onclick="collapse()" for="id_activity_1">{{ activity_form.activity.1 }}</label>
                <input class="activity-radio" type="radio" name="activity" value="body" required="" id="id_activity_2">
                <label class="activity-label" onclick="collapse()" for="id_activity_2">{{ activity_form.activity.2 }}</label>
                <input class="activity-radio" type="radio" name="activity" value="soul" required="" id="id_activity_3">
                <label class="activity-label soul-label" onclick="collapse()" for="id_activity_3">{{ activity_form.activity.3 }}</label>
            </div>
            <div class="activity-submit">
                  <input type="text" name="description" maxlength="100" required="" id="id_description" placeholder="Describe your activity...">
                  <button type="submit" name="activity_form">Add</button>
            </div>
        </form>
    </div>
    <!-- end Daily Activity Form -->
    <!-- Balance Message -->
    <!--Evaluate string representation of Python bool-->
    <div class="separator"></div>
    <div class="balance-message-container">
        {% if balance_bool == 'True' %}
            <span class="font-large">You have found balance today.</span>
        {% elif balance_bool == 'False' %}
            <span class="font-large">Still finding balance...</span>
        {% endif %}
        <div class="separator-thin"></div>
        <span class="balance-streak font-med">Current Balance Streak: {{ balance_streak }} days</span>
    </div>
    <div class="separator"></div>

    <!-- Manage Activities button -->
    <div class="view-all-activities">
        <span class="view-acts font-med" data-form="manage-form-container" onclick="toggleFormDisplay(this)">View All Daily Activities</span>
    </div>
    <div class="separator"></div>
    <!-- end Manage Activities button -->
</div>
<!-- Manage Activity Form  -->
<div class="manage-form-container form-container">
    <div class="close-form" data-form="manage-form-container" onclick="toggleFormDisplay(this)"><div>&times;</div></div>
    <form class="manage-form" action="{% url 'kokoro_app:home' %}" method="post">
        {% csrf_token %}
        <span class="manage-form-header font-xl">Manage Activities</span>
        <div class="separator-thin"></div>
        <!-- scrolling activities -->
        <div class="manage-form-scroll">
            {% for mind_act in all_daily.daily_mind %}
                <div>
                    <input type="checkbox" name="{{ mind_act.id }}" id="{{ mind_act.id }}">
                    <span class="manage-act-type font-small">MIND</span>
                    <span class="manage-act-desc font-small">{{ mind_act.description }}</span>
                </div>
            {% endfor %}
            {% for body_act in all_daily.daily_body %}
                <div>
                    <input type="checkbox" name="{{ body_act.id }}" id="{{ body_act.id }}">
                    <span class="manage-act-type font-small">BODY</span>
                    <span class="manage-act-desc font-small">{{ body_act.description }}</span>
                </div>
            {% endfor %}
            {% for soul_act in all_daily.daily_soul %}
                <div>
                    <input type="checkbox" name="{{ soul_act.id }}" id="{{ soul_act.id }}">
                    <span class="manage-act-type font-small">SOUL</span>
                    <span class="manage-act-desc font-small">{{ soul_act.description }}</span>
                </div>
            {% endfor %}
        </div>
        <input type="submit" name="manage_form" value="Delete Selected Activities">
    </form>
</div>
<!-- help icon display -->
<div class="help-form-container form-container">
    <div class="close-form" data-form="help-form-container" onclick="toggleFormDisplay(this)"><div>&times;</div></div>
    <form class="manage-form help-form">
        <span>What do I do?</span>
        <br>
        <span>Complete the triangle and "find balance" by submitting an activity for each of: Mind, Body, and Soul.</span>
        <br>
        <span>Why?</span>
        <span>
            The Mind - Body - Soul idea is that all 3 are connected to one-another. For example, stress on the mind can also lead to physical-health problems.
            "Finding Balance" is all about fulfilling the 3 categories with the goal of a healthier life.
        </span>
        <br>
        <span>Descriptions and Examples:</span>
        <br>
        <span>Mind</span>
        <span>A mind activity relates to our brain, keeping it engaged and sharp.</span>
        <span>Examples: Studying a subject you're interested in, reading a book by your favorite author, solving a puzzle, practicing mindfulness</span>
        <br>
        <span>Body</span>
        <span>A body activity relates to the improvement of our physical-health.</span>
        <span>Examples: Going for a bike ride, eating a healthy meal, running/walking/hiking, lifting weights</span>
        <br>
        <span>Soul</span>
        <span>A soul activity could take many forms. The Soul relates to inner-peace, community, love, and connecting to the bigger-picture.</span>
        <span>Examples: Making a home-cooked meal, visiting with friends, watching a film, creating art</span>
        <br>
        <br>
        <span>How do I do it?</span>
        <span>
            Click or tap on one of the icons below the triangle that corresponds to the activity you'd like to submit.
            Type in a description of your activity and click the "Add" button. That's it!
        </span>
        <span>When you complete all 3 activity types, you have found balance!</span>
        <span>(Activities will reset everyday)</span>
        <br>
    </form>
</div>
<script>
    function collapse() {
    activitySubmit.classList.toggle("collapse");
}

let activitySubmit = document.getElementsByClassName('activity-submit')[0];

window.addEventListener("load", function () {
    // svg scripts

    let tri = document.getElementsByClassName('tri');

    var mind = "{{ all_daily.daily_mind.0 }}";
    var body = "{{ all_daily.daily_body.0 }}";
    var soul = "{{ all_daily.daily_soul.0 }}";

    let activities = [mind, body, soul];

    for (var i = 0; i < 3; i++)
    {
        if (activities[i])
        {
            tri[i].classList.add("completed_act");
            console.log(activities[i].length);
        }
    }

    // activity-form scripts/logic
    let activityLabel = document.getElementsByClassName("activity-label");
    var activityInput = document.getElementById("id_description");
    let activityTypes = ["Mind", "Body", "Soul"];

    function revertColor() {
        for (let i = 0; i < 3; i++) {
            activityLabel[i].style.background = "#eee";
        }
    }

    for (let i = 0; i < 3; i++) {

        activityLabel[i].addEventListener("click", function () {

            let labelSelected = false;

            for (let j = 0; j < 3; j++) {
                if (activityLabel[j].style.background == "gray") {
                    labelSelected = true;
                    revertColor();
                    break;
                }
            }
            if (labelSelected != true) {
                activityLabel[i].style.background = "gray";
                activityInput.placeholder = `Describe Your ${activityTypes[i]} Activity..`;
            }
        }, false);
    }


    // daily activity fade in
    var daily_acts = document.getElementsByClassName("activity-card-content");

    for (let i = 0; i < daily_acts.length; i++) {
        if (daily_acts[i].innerHTML) {
            daily_acts[i].classList.toggle("text-fade");
        }
    }
});

// testing manage-form functionality
function toggleFormDisplay(clickedBtn) {
    var formToDisplay = clickedBtn.getAttribute("data-form");
    var form = document.getElementsByClassName(formToDisplay)[0];

    form.classList.toggle("show-form");
}

</script>
{% endblock content %}
