{% extends 'kokoro_app/base.html' %}

{% block content %}

<h3>Today:</h3>
<h2>{{ daily_mind.0 }}</h2>
<h2>{{ daily_body.0 }}</h2>
<h2>{{ daily_soul.0 }}</h2>

<!--Evaluate string representation of Python bool-->
{% if balance_bool == 'True' %}
    <p>You have found balance today.</p>
{% endif %}
{% if balance_bool == 'False' %}
    <p>Still finding balance...</p>
{% endif %}

<form action="{% url 'kokoro_app:home' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="Submit">Add Activity</button>
</form>

<!-- new activity form -->
<div class="btn-group btn-group-toggle btn-group-md w-50" data-toggle="collapse" data-target="#qwert">
  <label class="btn btn-info">
    <input type="radio" name="options" id="option1" checked> Mind
  </label>
  <label class="btn btn-danger">
    <input type="radio" name="options" id="option2"> Body
  </label>
  <label class="btn btn-warning">
    <input type="radio" name="options" id="option3"> Soul
  </label>
</div>

<div class="input-group mb-3 w-50 collapse" id="qwert">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Button</button>
  </div>
</div>



{% endblock content %}