<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kokoro</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="\static\kokoro_app\styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@501&display=swap" rel="stylesheet">
</head>
<!-- reset padding used for nav on other pages -->
<body style="padding-top: 0; background: none;">
    <div class="super-container">
        <div class="hero-container">
            <h1 class="brand-index">kokoro</h1>
            <div class="hero-content">
                <span class="hero-header">Find Balance.</span>
                <span class="hero-caption">
                    kokoro is a wellness tool designed to enhance the lives of its users through balancing the mind, body, and soul.
                </span>
                <!-- here we need a CTA. Tell users it's free and takes <1 to sign-up -->
                <form action="{% url 'users:register' %}" method="get">
                    <button class="font-large" type="submit">Sign Up</button>
                </form>
                <!-- route to home, if user not logged in, they will be redirected to login page -->
                <form action="{% url 'kokoro_app:home' %}" method="get">
                    <button class="font-large" type="submit">Log In</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>