<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kokoro</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="\static\kokoro_app\styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@501&display=swap" rel="stylesheet">
</head>
<!-- reset padding used for nav on other pages -->
<body style="padding-top: 0; background: none;">
    <div class="super-container">
        <div class="hero-container">
            <h1 class="brand-index">kokoro</h1>
            <div class="hero-content">
                <span class="hero-header">Find Balance.</span>
                <span class="hero-caption">
                    kokoro is a wellness tool designed to enhance the lives of its users through balancing the mind, body, and soul.
                </span>
                <!-- here we need a CTA. Tell users it's free and takes <1 to sign-up -->
                <form action="{% url 'users:register' %}" method="get">
                    <button class="font-large" type="submit">Sign Up</button>
                </form>
                <form action="{% url 'users:login' %}" method="get">
                    <button class="font-large" type="submit">Log In</button>
                </form>
            </div>
        </div>
        <div style="padding: 3rem; background: red;"></div>
    </div>
    <!-- Landing Page Best Practices:
            Craft a benefit-focused headline. (Find Balance)
            Choose an image that illustrates the offer. (nature-related)
            Write compelling copy. (text)
            Include the lead form above the fold. (Register link)
            Add a clear and standout call-to-action.
            Give away a relevant offer.
            Only ask for what you need.
            Remove all navigation.
            Make your page responsive.
            Optimize for search.
            Remember to use a thank you page.

            Above The Fold [x]
            Below The Fold []

            Below the fold:
                Sections: (tagline/photo)

                    1.

     -->
</body>
</html>