{% extends "kokoro_app/base.html" %}

{% block content %}

<!-- planning/writing the kokoro landing page -->
<span>Find Balance.</span>
<!-- Landing Page Best Practices:
        Craft a benefit-focused headline. (Find Balance)
        Choose an image that illustrates the offer. (nature-related)
        Write compelling copy. (text)
        Include the lead form above the fold. (Register link)
        Add a clear and standout call-to-action.
        Give away a relevant offer.
        Only ask for what you need.
        Remove all navigation.
        Make your page responsive.
        Optimize for search.
        Remember to use a thank you page.
 -->
{% endblock content %}