{% extends 'kokoro_app/base.html' %}

{% block content %}
{% load tz %}

<div class="super-container">
    <!--iterate over values in post-->
    <div class="post-container">
        {% localtime off %}
            <span class="post-headline">{{ post.headline }}</span>
            <span class="post-author font-large">{{ post.author }}</span>
            <!-- date_published converted to user TZ -->
            <span class="post-published font-med">{{ date_published_user_tz }}</span>
            <span class="post-content font-xl">{{ post.content|linebreaks }}</span>

            {% if post.author != request.user %}
                <!-- pin/unpin logic -->
                {% if pinned %}
                    <form action="{% url 'kokoro_app:posts_form_handler' %}" method="post">
                        {% csrf_token %}
                        <button class="request-btn font-med" type="submit" name="unpin_post_form" value="{{ post.post_slug }}">
                            Un-Pin This Post From My Profile
                        </button>
                    </form>
                {% else %}
                    <form action="{% url 'kokoro_app:posts_form_handler' %}" method="post">
                        {% csrf_token %}
                        <button class="request-btn font-med" type="submit" name="pin_post_form" value="{{ post.post_slug }}">
                            Pin This Post to My Profile
                        </button>
                    </form>
                {% endif %}
            {% else %}
                <!-- request.user == post.author -->

                <!-- edit a post -->
                <form action="{% url 'kokoro_app:edit_post' %}" method="get">
                    <button class="request-btn font-med" type="submit" name="edit_post_form" value="{{ post.post_slug }}">Edit Post</button>
                </form>
                <form action="{% url 'kokoro_app:posts_form_handler' %}" method="post">
                    {% csrf_token %}
                    <button class="request-btn red-btn font-med" type="submit" name="delete_post_form" value="{{ post.post_slug }}">
                        Delete Post
                    </button>
                </form>
            {% endif %}
            <form action="{% url 'kokoro_app:profile' %}" method="get">
                <button class="request-btn font-med" type="submit" name="profile_to_visit" value="{{ post.author.id }}">
                    {% if post.author != request.user %}
                        {{ post.author }}'s Profile
                    {% else %}
                        Return to My Profile
                    {% endif %}
                </button>
            </form>
        {% endlocaltime %}
    </div>
</div>
{% endblock content %}