{% extends 'kokoro_app/base.html' %}

{% block content %}
{% load tz %}
<div style="margin-left: 35vw; margin-right: auto; margin-bottom: 2vw;">
    {% localtime off %}
        {{ user }}'s local time:
        {{ user_timezone }}
        {{ user_timezone_object }}
    {% endlocaltime %}

<form action="{% url 'kokoro_app:profile' %}" method="POST">
    {% csrf_token %}
    <label>Time zone:</label>
    <select name="user_timezone">
        <option disabled selected value="">Select Timezone</option>
        {% for tz in timezones %}
        <option value="{{ tz }}">{{ tz }}</option>
        {% endfor %}
    </select>
    <input type="submit" name="tz_form" value="Set Timezone">
</form>

</div>

<div onclick="testFunction(this)" style="cursor: pointer; user-select: none; border: 1px solid black; border-radius: 4px; width: 10%; text-align: center; margin: auto; margin-bottom: 2vw;">Edit Profile</div>
<div class="profile-grid">
    <div class="profile-placeholder">
        <img class="profile-image" src="{{user.profileimage.image.url}}" alt="{{ user }}'s profile photo">
        <span class="svg-edit-icon svg-icon-hidden" style="position: absolute; width: 2vw; height: 2vw; z-index: 999; margin-left: 85%; align-self: flex-start;">
            <img src='\static\kokoro_app\setting_svg_2.svg' alt="settings" data-form="profile-image-form-container" height="auto" width="100%" onclick="toggleFormDisplay(this)" style="cursor: pointer;">
        </span>
    </div>
    <div class="profile-contact">
        <!--form-->
        <span class="profile-display-name">{{ display_name.0 }}
            <span class="svg-edit-icon svg-icon-hidden" style="width: .75em; height: .75em; display: inline-block; vertical-align: top;">
                <img src='\static\kokoro_app\setting_svg_2.svg' alt="settings" data-form="display-name-form-container" height="auto" width="100%" onclick="toggleFormDisplay(this)" style="cursor: pointer;">
            </span>
        </span>
        <span>@{{ user }}</span>
        <span>Balance Streak: 7</span>
        <span>----------</span>
        <!--form (done)-->
        <span>{{ biography.0 }}
            <span class="svg-edit-icon svg-icon-hidden" style="width: .75em; height: .75em; display: inline-block; vertical-align: top;">
                <img src='\static\kokoro_app\setting_svg_2.svg' alt="settings" data-form="bio-form-container" height="auto" width="100%" onclick="toggleFormDisplay(this)" style="cursor: pointer;">
            </span>
        </span>
        <span>----------</span>
        <!--form (almost done)-->
        <span>Perfect Balance
            <span class="svg-edit-icon svg-icon-hidden" style="width: .75em; height: .75em; display: inline-block; vertical-align: top;">
                <img src='\static\kokoro_app\setting_svg_2.svg' alt="settings" data-form="perfect-form-container" height="auto" width="100%" onclick="toggleFormDisplay(this)" style="cursor: pointer;">
            </span>
        </span>
        {% for perfect_activity in perfect_balance %}
            <span class="perfect-activity">{{ perfect_activity }}</span>
        {% endfor %}
        <span>----------</span>
        <span style="text-decoration: underline">Contact
            <span class="svg-edit-icon svg-icon-hidden" style="width: .75em; height: .75em; display: inline-block; vertical-align: top;">
                    <img src='\static\kokoro_app\setting_svg_2.svg' alt="settings" data-form="contact-info-form-container" height="auto" width="100%" onclick="toggleFormDisplay(this)" style="cursor: pointer;">
            </span>
        </span>
        <!--form/s-->
        {% for info in contact_info %}
            <span>{{ info }}</span>
        {% endfor %}

        <span>twitter: @johnparkingson</span>
        <span>insta: @johnnyjohno</span>
    </div>
    <div class="profile-header">
        <div class="profile-quote">"{{ quote_data.quote }}"
            <span class="svg-edit-icon svg-icon-hidden" style="width: .75em; height: .75em; display: inline-block; vertical-align: top;">
                <img src='\static\kokoro_app\setting_svg_2.svg' alt="settings" data-form="quote-form-container" height="auto" width="100%" onclick="toggleFormDisplay(this)" style="cursor: pointer;">
            </span>
        </div>
        <div class="profile-quote-author">- {{ quote_data.quote_author }}</div>

    </div>
    <!-- these will be dynamically added via loop -->
    <div class="profile-post">
        <span>~ Parker Johnny Smith has no posts yet. ~</span>
    </div>
    <div class="profile-post">
        <span>My day hiking the great Bluffs of Ontario</span>
    </div>
    <div class="profile-post">
        <span>Why working out everyday is a must.</span>
    </div>
    <div class="profile-post">
        <span>My journey through the Amazon</span>
    </div>
</div>
<div class="bio-form-container form-container">
    <div class="close-form" data-form="bio-form-container" onclick="toggleFormDisplay(this)"><div>&times;</div></div>

    <form action="{% url 'kokoro_app:profile' %}" method="post">
        {% csrf_token %}
        <div>{{ bio_form.biography }}</div>
        <input type="submit" name="bio_form" value="Submit Biography">
    </form>
</div>
<div class="perfect-form-container form-container">
    <div class="close-form" data-form="perfect-form-container" onclick="toggleFormDisplay(this)"><div>&times;</div></div>

    <form action="{% url 'kokoro_app:profile' %}" method="post">
        {% csrf_token %}
        <label>Perfect Mind Activity<div>{{ perfect_form.perfect_mind }}</div></label>
        <label>Perfect Body Activity<div>{{ perfect_form.perfect_body }}</div></label>
        <label>Perfect Soul Activity<div>{{ perfect_form.perfect_soul }}</div></label>
        <input type="submit" name="perfect_form" value="Submit Perfect Balance">
    </form>
</div>
<div class="display-name-form-container form-container">
    <div class="close-form" data-form="display-name-form-container" onclick="toggleFormDisplay(this)"><div>&times;</div></div>

    <form action="{% url 'kokoro_app:profile' %}" method="post">
        {% csrf_token %}
        <div>{{ display_name_form }}</div>
        <input type="submit" name="display_name_form" value="Update Display Name">
    </form>
</div>

<div class="quote-form-container form-container">
    <div class="close-form" data-form="quote-form-container" onclick="toggleFormDisplay(this)"><div>&times;</div></div>

    <form action="{% url 'kokoro_app:profile' %}" method="post">
        {% csrf_token %}
        <div>{{ quote_form }}</div>
        <input type="submit" name="quote_form" value="Update Quote">
    </form>
</div>

<div class="profile-image-form-container form-container">
    <div class="close-form" data-form="profile-image-form-container" onclick="toggleFormDisplay(this)"><div>&times;</div></div>

    <form action="{% url 'kokoro_app:profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_image_form }}
        <input type="submit" name="profile_image_form" value="Update Profile Photo">
    </form>
</div>

<div class="contact-info-form-container form-container">
    <div class="close-form" data-form="contact-info-form-container" onclick="toggleFormDisplay(this)"><div>&times;</div></div>
    <form action="{% url 'kokoro_app:profile' %}" method="post">
        {% csrf_token %}
        {{ contact_info_form }}
        <input type="submit" name="contact_info_form" value="Update Contact Information">
    </form>
</div>
<!--testing profile posts-->
<div>
    <p>{{ user }}'s Posts:</p>
    {% for post in posts %}
        {{ post.headline }}<br>
        {{ post.content }}<br>
        {{ post.author }}<br>
        {{ post.date_published }}<br>
        {{ post.post_slug }}<br>
        <br>
        <br>
        <br>
    {% endfor %}
</div>
<p>Profile Post Form:</p>
<div>
    <form action="{% url 'kokoro_app:profile' %}" method="post">
    {{ profile_post_form.as_p }}
    {% csrf_token %}
    <input style="margin: 1rem;" type="submit" name="profile_post_form" value="Publish">
</form>
</div>

<script>
    // Each svg has a 'data-form' attribute relating to the class of a form to display
    // function grabs the 'data-form' value from the passed element, and toggles "show-form" class to the form
    // that has className == data-form value of svg

    function toggleFormDisplay(clickedSVG) {
        var formToDisplay = clickedSVG.getAttribute("data-form");
        var form = document.getElementsByClassName(formToDisplay)[0];

        form.classList.toggle("show-form");
    }

    // Toggle edit-icon visibility and toggle text content of Edit Profile button

    function testFunction(editProfileBtn) {
        var svgEdit = document.getElementsByClassName("svg-edit-icon");
        for (var i = 0; i < svgEdit.length; i++) {
            svgEdit[i].classList.toggle("svg-icon-hidden");
        }
        if (editProfileBtn.innerHTML == "Edit Profile") {
            editProfileBtn.innerHTML = "Done";
        }
        else {
            editProfileBtn.innerHTML = "Edit Profile";
        }
    }
</script>

{% endblock content %}