{% extends 'kokoro_app/base.html' %}

{% block content %}
<!-- for each user, we should display: -->
<!-- profileimage, username, display_name, biography (to start) -->
<div class="super-container">
<div class="search-container">
    <span class="search-header font-xl">Search Results:</span>
    {% for user in search_results %}
    <div class="search-card">
        <div class="search-profile">
            <form action="{% url 'kokoro_app:profile' %}" method="get">
                <button class="edit-profile-or-friendship-btn search-profile-btn" type="submit" name="profile_to_visit" value="{{ user.id }}">
                    Profile
                </button>
            </form>
        </div>
        <div class="search-image">
            <img src="{{user.profileimage.image.url}}" alt="{{ user }}'s profile photo">
        </div>
        <div class="search-info">
            <span class="search-display-name font-large">{{ user.profiledisplayname.display_name }}</span>
            <span class="search-username font-small">@{{ user.username }}</span>
        </div>
        <span class="search-bio font-small">{{ user.profilebio.biography }}</span>
    </div>
    {% empty %}
    <span>
        No users matched your search...
    </span>
    {% endfor %}
</div>
</div>



{% endblock content %}