{% extends 'kokoro_app/base.html' %}

{% block content %}
<!-- for each user, we should display: -->
<!-- profileimage, username, display_name, biography (to start) -->

<span>Search Results:</span>
<div class="search-container">
    {% for user in search_results %}
    <div class="search-card">
        <div class="search-profile">
            <form action="{% url 'kokoro_app:profile' %}" method="get">
                <button type="submit" name="profile_to_visit" value="{{ user.id }}">
                    <span>Profile</span>
                </button>
            </form>
        </div>
        <div class="search-image">
            <img src="{{user.profileimage.image.url}}" alt="{{ user }}'s profile photo">
        </div>
        <div class="search-info">
            <span class="search-display-name font-xl">{{ user.profiledisplayname.display_name }}</span>
            <span class="search-username font-large">@{{ user.username }}</span>
            <span class="search-bio font-large">{{ user.profilebio.biography }}</span>
        </div>
    </div>
    {% empty %}
    <span>
        No users matched your search...
    </span>
    {% endfor %}
</div>



{% endblock content %}