{% extends 'kokoro_app/base.html' %}

{% block content %}
<div class="super-container">
    <div class="register-container">
        <span class="register-header support-span" style="margin-bottom: .5rem;">Support</span>
        <span class="register-label support-span font-xl">Contact us with any problems you're having with kokoro.</span>
        <br>
        <span class="font-xl support-header">No problems?</span>
        <span class="register-label support-span font-large">Feel free to tell us about your experience with kokoro, suggestions to improve the site, or ask any questions you have.</span>
        <br>
        <br>
        <span class="support-header support-span font-large" style="text-align: center;">Send a report and we will get back to you!</span>
        <br>
        <form action="{% url 'kokoro_app:support' %}" method="post">
            {% csrf_token %}
            <span class="register-help">{{ support_report_form.subject.label }}</span>
            <span class="register-field">{{ support_report_form.subject }}</span>
            <span class="register-help">{{ support_report_form.body.label }}</span>
            <span class="register-field post-form-content">{{ support_report_form.body }}</span>
            <span class="register-help">{{ support_report_form.username.label }}   (Leave blank if you are not registered with kokoro)</span>
            <span class="register-field">{{ support_report_form.username }}</span>
            <span class="register-help">Your Email Address:</span>
            <span class="register-field">{{ support_report_form.contact_email }}</span>
            <span class="register-error">{{ support_report_form.contact_email.errors }}</span>
            <button class="request-btn register-btn font-xl" type="submit">Submit Report</button>
        </form>
    </div>
</div>
{% endblock content %}
