{% extends 'kokoro_app/base.html' %}

{% block content %}
<div class="super-container">
    <span class="request-header">Friendship Requests<button class="request-btn hide-btn" onclick="hideRequests(this)">Hide</button></span>
    <div class="request-grid">
        <div class="received-request-container">
        <span class="font-xl request-type">Received:</span>
        {% for friendship_request in requests_to_user %}
            <div class="received-request">
                <div class="request-image">
                    <img src="{{ friendship_request.from_user.profileimage.image.url }}">
                </div>
                <span class="request-message font-med"><span class="friend-username">@{{ friendship_request.from_user }}</span> wants to be your friend!</span>
                <!-- form sends the unique id of the user whom sent the friendship request -->
                <form class="accept-request-form" action="{% url 'kokoro_app:accept_friendship_request_handler' sent_by=friendship_request.from_user.id %}" method="post">
                    {% csrf_token %}
                    <button class="request-btn font-med" type="submit" name="accept_friendship_form">
                        Accept
                    </button>
                </form>
                <!-- Decline a friendship request sent to user -->
                <form class="decline-request-form" action="{% url 'kokoro_app:decline_friendship_request_handler' friendship_request=friendship_request.id %}" method="post">
                    {% csrf_token %}
                    <button class="request-btn font-med" type="submit" name="decline_friendship_request_form">
                        Decline
                    </button>
                </form>
                <!-- View Profile of user that sent friendship_request -->
                <form class="profile-request-form" action="{% url 'kokoro_app:profile' %}" method="get">
                    <button class="request-btn font-med" type="submit" name="profile_to_visit" value="{{ friendship_request.from_user.id }}">
                        Profile
                    </button>
                </form>
            </div>
        {% endfor %}
        </div>
        <div class="sent-request-container">
        <span class="font-xl request-type">Sent:</span>
        {% for friendship_request in requests_from_user %}
            <div class="sent-request">
                <div class="request-image">
                    <img src="{{ friendship_request.to_user.profileimage.image.url }}">
                </div>
                <span class="request-message">Pending Request to <span class="friend-username">@{{ friendship_request.to_user }}</span></span>
                <form class="cancel-request-form" action="{% url 'kokoro_app:cancel_friendship_request_handler' friendship_request=friendship_request.id %}" method="post">
                    {% csrf_token %}
                    <button class="request-btn font-med" type="submit" name="cancel_friendship_request_form">
                        Cancel
                    </button>
                </form>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="separator-thin"></div>
    <span class="friendships-header">Friendships:</span>
    {% for friendship in friendships.all %}
    <div class="search-card friend-card">
        <div class="friend-info">
            {% if friendship.profiledisplayname.display_name %}
                <span class="friend-display-name font-large">{{ friendship.profiledisplayname.display_name }}</span>
            {% else %}
                <span class="friend-display-name font-large">{{ friendship }}</span>
            {% endif %}
            <span class="friend-username font-small">@{{ friendship }}</span>
            <span class="friend-bio font-small">{{ friendship.profilebio.biography }}</span>
        </div>
        <div class="request-image">
            <img src="{{ friendship.profileimage.image.url }}">
        </div>
        <form class="friend-profile-form" action="{% url 'kokoro_app:profile' %}" method="get">
            <button class="request-btn" type="submit" name="profile_to_visit" value="{{ friendship.id }}">
                Profile
            </button>
        </form>
        <form class="remove-friendship" action="{% url 'kokoro_app:remove_friendship_handler' %}" method="post">
            {% csrf_token %}
            <button class="request-btn" type="button" data-form="remove-friend" onclick="toggleFormDisplay(this, {{ forloop.counter0 }})">Remove</button>
            <input type="hidden" name="friend-to-remove" value="{{ friendship.id }}">
        </form>
    </div>
    <div class="delete-post-container form-container remove-friend">
        <button class="close-form" data-form="remove-friend" onclick="toggleFormDisplay(this, {{ forloop.counter0 }} )"><span>&times;</span></button>
        <form class="manage-form delete-post-form" action="#" method="post">
            {% csrf_token %}
            <div>
                <span class="manage-form-header">Remove Friendship with @{{ friendship }}?</span>
                <button class="manage-form-submit delete-post-submit" type="button" onclick="submitForm( '{{ forloop.counter0 }}' )">Confirm</button>
                <button class="manage-form-submit delete-post-cancel" type="reset" data-form="remove-friend" onclick="toggleFormDisplay(this, {{ forloop.counter0 }} )">Cancel</button>
            </div>
        </form>
    </div>
    {% endfor %}
</div>
<!-- script for hiding friendship requests -->
<script>
    let requests = document.getElementsByClassName("request-grid")[0];

    function hideRequests(btn) {
        requests.classList.toggle("hide-requests");
        if (btn.innerHTML == "Hide") {
            btn.innerHTML = "Show";
        }
        else {
            btn.innerHTML = "Hide";
        }
    }

    function toggleFormDisplay(clickedBtn, counter) {
        var formToDisplay = clickedBtn.getAttribute("data-form");
        var form = document.getElementsByClassName(formToDisplay)[counter];

        form.classList.toggle("show-form");

        console.log(counter);
    }

    function submitForm(counter) {
        // counter represents the form to submit
        var formToSubmit = document.getElementsByClassName("remove-friendship")[counter];
        formToSubmit.submit();
    }
</script>
{% endblock content %}