{% extends 'kokoro_app/base.html' %}

{% block content %}

    <h1 style="text-align: center;">{{ request.user }}'s Friendships:</h1>
    <div style="text-align: center;">
        {% for friendship in friendships %}
        <div>
            {{ friendship }}
            <!-- form to delete/remove friendship with user -->
            <form action="{% url 'kokoro_app:remove_friendship' friendship_to_remove_id=friendship.id %}" method="post" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" name="remove_friendship_form">
                    Remove Friendship
                </button>
            </form>
        </div>
        {% endfor %}
    </div>

{% endblock content %}